Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
django-filter==25.1
psycopg[binary]==3.2.9
Pillow==11.3.0
python-dotenv==1.1.1
gunicorn==23.0.0
redis==5.2.1
celery==5.4.0
django-storages[s3]==1.14.4
boto3==1.35.24
sentry-sdk[django]==2.14.0
uritemplate==4.1.1
jdatetime==5.2.0
reportlab==4.2.5
arabic-reshaper==3.0.0
python-bidi==0.6.6
